{% extends 'inner.html' %}

{% block title %}{{ handler.settings['title'] }}{% end %}

{% block content %}
<div class="article">
    <h2 class="title">
        <a href="/article/1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
    </h2>
    <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper nec lacus id tempor. Duis tincidunt interdum porta. Phasellus et condimentum lacus. Aenean vel est magna. Donec suscipit, ipsum in tincidunt pretium, metus dolor suscipit erat, quis consequat felis justo lobortis lacus. Mauris pellentesque enim quam. Suspendisse sed porttitor enim. Vestibulum et neque commodo, viverra mi nec, mollis arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer pharetra pretium risus, sed aliquet tellus semper eget. Cras ut lobortis tellus. Aenean sed scelerisque ipsum. Donec nec mollis augue, a congue velit.
    </div>
    <div class="links">
        <a href="/article/1">Read More »</a>
    </div>
</div>
<div class="article">
    <h2 class="title">
        <a href="/article/1">Cras in augue vitae velit bibendum pretium</a>
    </h2>
    <div class="content">
        Nullam pharetra, diam eget dictum feugiat, tellus dui rutrum mi, quis porta massa dolor a erat. In hac habitasse platea dictumst. Proin sed blandit elit. Maecenas nec porta enim, in euismod purus. Phasellus sit amet ultrices ipsum, interdum auctor est. Pellentesque aliquet dui id libero scelerisque, sed gravida massa dictum. Praesent orci augue, tincidunt non volutpat vel, porttitor at metus. Donec tempor aliquet dui at ornare. Nullam consequat purus non lacus porttitor, vitae posuere quam laoreet. Etiam consequat libero et porta ullamcorper. Integer tincidunt nibh ac nisl tincidunt elementum. In varius ligula ut ante iaculis, eget gravida erat tristique. Proin ligula purus, hendrerit eget odio quis, congue luctus enim. Ut sed faucibus massa.
    </div>
    <div class="links">
        <a href="/article/1">Read More »</a>
    </div>
</div>
{% end %}
